Alessandro Sciarra <asciarra@fias.uni-frankfurt.de>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de> <36138176+akschaefer@users.noreply.github.com>
Niklas Götz <goetz@fias.uni-frankfurt.de>
Niklas Götz <goetz@fias.uni-frankfurt.de> <ngoetz@lxbk0599.gsi.de>
Niklas Götz <goetz@fias.uni-frankfurt.de> <goetz.niklas@googlemail.com>
Niklas Götz <goetz@fias.uni-frankfurt.de> Niklas Goetz <goetz@fias.uni-frankfurt.de>
Jan Hammelmann <hammelmann@fias.uni-frankfurt.de>
Jan Hammelmann <hammelmann@fias.uni-frankfurt.de> <33685583+JanHammelmann@users.noreply.github.com>
Renan Hirayama <hirayama@fias.uni-frankfurt.de>
Renan Hirayama <hirayama@fias.uni-frankfurt.de> RenHirayama <79031685+RenHirayama@users.noreply.github.com>
Zuzana Paulinyova <zuzana.paulinyova@upjs.sk>
