Alessandro Sciarra <sciarra@itp.uni-frankfurt.de>
Alessandro Sciarra <sciarra@itp.uni-frankfurt.de> <asciarra@fias.uni-frankfurt.de>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de> <36138176+akschaefer@users.noreply.github.com>
Gabriele Inghirami <g.inghirami@gsi.de> <71900834+gabriele-inghirami@users.noreply.github.com>
Gabriele Inghirami <g.inghirami@gsi.de> gabriele-inghirami <gabriele.inghirami@gmail.com>
Niklas Götz <goetz@fias.uni-frankfurt.de>
Niklas Götz <goetz@fias.uni-frankfurt.de> <ngoetz@lxbk0599.gsi.de>
Niklas Götz <goetz@fias.uni-frankfurt.de> <goetz.niklas@googlemail.com>
Niklas Götz <goetz@fias.uni-frankfurt.de> Niklas Goetz <goetz@fias.uni-frankfurt.de>
Nils Saß <nsass@fias.uni-frankfurt.de>
Nils Saß <nsass@fias.uni-frankfurt.de> <90659054+nilssass@users.noreply.github.com>
Jan Hammelmann <hammelmann@fias.uni-frankfurt.de>
Jan Hammelmann <hammelmann@fias.uni-frankfurt.de> <33685583+JanHammelmann@users.noreply.github.com>
Renan Hirayama <hirayama@fias.uni-frankfurt.de>
Renan Hirayama <hirayama@fias.uni-frankfurt.de> RenHirayama <79031685+RenHirayama@users.noreply.github.com>
Zuzana Paulinyova <zuzana.paulinyova@upjs.sk>
Zuzana Paulinyova <zuzana.paulinyova@upjs.sk> zpauliny <103072930+zpauliny@users.noreply.github.com>
