# This file contains all python requirements that the hybrid handler needs in
# all its functionality. Some of them are not always needed and, therefore, the
# system requirements check does not always require them all. Note that python
# code is also used hard-coded via 'python -c' in some places in Bash code and
# some of the following requirements are a direct consequence of that.

packaging>=17.0
numpy~=1.11
PyYAML~=6.0.1
pyDOE~=0.3.8
DateTime~=5.0
